<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Company Name</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/theme.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>


      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Golden Pages, LLC</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"> 
            <!--
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> 
            -->
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
          </form>
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">1 notification</a></li>
                <li><a href="#">2 notification</a></li>
                <li><a href="#">3 notification</a></li>
              </ul>
            </li>
            <li class="dropdown"> <!-- If the user is logged in only -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
            <li><a href="#">Login</a></li> <!-- If the user is logged out only -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="header-wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="header-heading">Company Name</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco.</p>
            </div>     

            <div class="col-lg-4 col-md-4 col-sm-4" style="padding:20px 0 0 0">
              <img id="company-logo" class="img-rounded img-responsive centered" style=""src="img/logo-sample.jpg" alt="Company Name Here">
            </div>
          </div>  

        </div>
      </div>  

      <div class="container">
        <div class="row">

          <div class="col-md-8 navs-container">

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#messages" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;Messages</a>
              </li>
              <li>
                <a href="#schedule" data-toggle="tab"><i class="fa fa-calendar"></i>&nbsp;Schedule</a>
              </li>
              <li>
                <a href="#followers" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;Followers</a>
              </li>
              <li>
                <a href="#account" data-toggle="tab"><i class="fa fa-info-circle"></i>&nbsp;Account</a>
              </li>
            </ul>
            <div class="tab-content">
             <div id="messages" class="tab-pane fade in active">
              <div class="btn-group" style="margin-bottom:10px;">
                <button type="button" class="btn btn-default">New</button>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item"><span class="badge">1</span> Thread 1</a>
                <a href="#" class="list-group-item"><span class="badge">4</span> Thread 2</a>
                <a href="#" class="list-group-item"><span class="badge">3</span> Thread 3</a>
                <a href="#" class="list-group-item"><span class="badge">5</span> Thread 4</a>
              </div>

            </div>
            <div id="schedule" class="tab-pane fade">
              <div class="btn-group" style="margin-bottom:10px;">
                <button type="button" class="btn btn-default">Add Entry</button>
                <button type="button" class="btn btn-default">Edit</button>
                <button type="button" class="btn btn-default">Accept</button>
              </div>
              <div class="schedule-wrap"><h2>Schedule Here</h2></div>
            </div>
            <div id="followers" class="tab-pane fade">
             <div class="list-group">
              <a href="#" class="list-group-item">John Smith</a>
              <a href="#" class="list-group-item">Mark E. Williams</a>
              <a href="#" class="list-group-item">Jorge Travieso</a>
            </div>
          </div>
          <div id="account" class="tab-pane fade">
            <div class="btn-group" style="margin-bottom:10px;">
              <button type="button" class="btn btn-default">Edit</button>
            </div>
            <h2>Account Info</h2>
            <strong>Business Name:</strong>&nbsp;<p>Company Name</p>
            <strong>Email:</strong>&nbsp;<p>company@gmail.com</p>
            <h3>About</h3> 
            <p> We are one of the few agents in the area that genuinely are specialists in both sales and lettings. Whether you’re looking to sell or let your home or want to buy or rent a home, we really are the people for you to come to.

              If you’re a home owner looking to move on, we will come and carry out a free, no-obligation valuation on your property at a time of day that’s suitable for you. If you then make the decision to use us to market your property, we will also advise you on the best way to present it so that you get a quick sale or rental at the right price.

              If you’re looking for a home then pop in and see us or Contact Us. We do market all our properties on the big property websites and our own site but we may have something new on our books that you could see first before we start our marketing and you don’t want to miss out on your perfect home!</p>
            </div>
          </div>

        </div> <!-- end of tabs container --> 
        <div class="col-md-4 info-box">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Account Stats</h3>
            </div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>  

      </div>
    </div>

    <!-- FOOTER -->
    <footer style="margin-top:30px">


     <div class="container">

      <div class="row">
       <div class="col-md-offset-1 col-lg-3 col-md-3 col-sm-3">
        <h2 class="footer_header">Something Here</h2>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>  
      </div><!-- /.col-lg-4 -->       


      <div class="col-lg-3 col-md-3 col-sm-3">
       <h2 class="footer_header">Links</h2>
       <ul class="list-inline">

        <li><a href="" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
        </li>
        <li><a href="" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
        </li>
        <li><a href="" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
        </li>                        
        <li><a href="" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a>
        </li>
      </ul>
      <a style="font-size:13px;"class="text-center" href="#">Recommend Golden Pages</a>

    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2 class="footer_header">Something Here</h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>  
    </div><!-- /.col-lg-4 -->

    <!-- /.row -->

  </div> <!-- /.container -->

  <hr class="featurette-divider">

  <div class="end container marketing" style="">
   <p class="pull-left">&copy; 2014 Golden Pages, LLC &middot; <a href="/">Home</a> &middot; <a href="/about/">About Us</a> &middot; <a href="/faq/">FAQ</a> &middot; <a href="/contact/">Contact Us</a></p>  

 </div>

</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>