/* Bootstrap tweaks */
.navbar {
	margin-bottom: 0px;
}

.im-centered {
	margin: auto;
	max-width: 300px;
}

form#register button {
	width: 130px;
}

#account-types .btn {
	margin: 15px;
	border-radius: 4px;
}

form#register {
	padding: 20px;
}

form#register input, .register-container {
	max-width: 400px;
	margin: auto;
}

/*Image */
#company-logo {
	width: 70%;
	height: auto;
	max-height: 230px;
}

/*Header */
.header-wrap {
	width: 100%;
	min-height: 300px;
	padding: 45px 30px 30px 30px;
	margin: 0px 0px 25px 0px;
	color: white;
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #0068A4),
		color-stop(0.72, #1CB6C4));
	background-image: -o-linear-gradient(right top, #0068A4 0%, #1CB6C4 72%);
	background-image: -moz-linear-gradient(right top, #0068A4 0%, #1CB6C4 72%);
	background-image: -webkit-linear-gradient(right top, #0068A4 0%, #1CB6C4 72%);
	background-image: -ms-linear-gradient(right top, #0068A4 0%, #1CB6C4 72%);
	background-image: linear-gradient(to right top, #0068A4 0%, #1CB6C4 72%);
}

.navs-container {
	margin: 0px 0px 0px 0px;
	padding: 15px;
	border: 1px solid #00CED1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tab-content {
	text-align: justify;
	min-height: 500px;
}

.navs-container .tab-pane {
	padding: 10px;
}

.schedule-wrap {
/*	background-color: gray;
	color: white;
*/
	padding: 30px;
	min-height: 400px;
	min-width: 100%;
	text-align: center;
}

  .ui-datepicker { font-size: 9pt !important; }}

.info-box {
	min-height: 200px;
}

#profile-pic {
	max-width: 130px;
	min-width: 130px;
}

footer {
	background-color: #333;
	color: white;
	min-height: 350px;
	width: 100%;
	padding: 20px;
	margin: 0px;
	font-size: 13px;
	text-align: justify;
}

footer div {
	padding: 0px;
}

body {
	margin-bottom: 0;
	padding: 0px;
}

footer .footer_header {
	color: #c4c4c4;
	font-style: italic;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 40px;
	margin-left: 15px;
}

footer p, footer a {
	font-size: .9em;
	color: white;
}

div.info p {
	margin: 0;
	padding: 0;
}

footer div.end a, footer div.end p {
	font-size: 13px;
}

footer hr.featurette-divider, .featurette-container hr.featurette-divider
	{
	margin: 20px 0px;
}

ul.inline-list {
	display: inline;
}

#user-info input, .sm-input {
	width: 50%;
	height: auto;
}
/*
.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}
.ui-menu .ui-menu-item a {
  font-size: 12px;
}
*/
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/*
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}
*/